### 중복된 케이스 제거
+ 특정 변수의 값이 중복된 케이스 제거

In [2]:
df1 <- data.frame(id=rep(1:3, times=2:4), x1=1:9)
duplicated(df1$id)
filter(df1, !duplicated(df1$id))

[1] FALSE  TRUE FALSE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE

  [,1] [,2]
1 NA   NA
2 NA   NA
3 NA   NA
4 NA   NA
5  8   20
6 NA   NA
7 NA   NA
8 NA   NA
9 NA   NA

### 모든 변수의 값이 중복된 행 제거

In [6]:
library(tidyverse)
df2 <- data.frame(id=rep(1:3,each=2), x1 = c(2,2,3,1,4,4))
tb2 <- as_tibble(df2)
# df2 = tibble(id=rep(1:3, each=2), x1=c(2,2,3,1,4,4))
duplicated(tb2)
filter(df2,!duplicated(tb2))

Warning message:
"package 'tidyverse' was built under R version 3.5.3"
-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

√ ggplot2 3.2.1     √ purrr   0.3.3
√ tibble  2.1.3     √ dplyr   0.8.4
√ tidyr   1.0.2     √ stringr 1.4.0
√ readr   1.3.1     √ forcats 0.4.0

Warning message:
"package 'ggplot2' was built under R version 3.5.3"
Warning message:
"package 'tibble' was built under R version 3.5.3"
Warning message:
"package 'tidyr' was built under R version 3.5.3"
Warning message:
"package 'readr' was built under R version 3.5.3"
Warning message:
"package 'purrr' was built under R version 3.5.3"
Warning message:
"package 'dplyr' was built under R version 3.5.3"
Warning message:
"package 'stringr' was built under R version 3.5.3"
Warning message:
"package 'forcats' was built under R version 3.5.3"
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

[1] FALSE  TRUE FALSE FALSE FALSE  TRUE

  id x1
1 1  2
2 2  3
3 2  1
4 3  4

## 관찰값 선택에 유용한 다른 함수
### 관찰값의 단수임의추출
+ sample_n() : 추출하는 행의 개수 size에 지정
+ sample_frac() : 추출하는 행의 비율 size에 지정
+ 비복원 추출이 디폴트
+ 복원 추출을 원하는 경우 replace=TRUE 입력

In [7]:
iris_t <- as_tibble(iris)
sample_n(iris_t, size=3)
sample_frac(iris_t, size=0.01)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.8          2.7         5.1          1.9         virginica
2 4.7          3.2         1.6          0.2         setosa
3 4.8          3.1         1.6          0.2         setosa

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 4.6          3.4         1.4          0.3         setosa
2 5.3          3.7         1.5          0.2         setosa

+ base R 함수 sample()에 의한 방법
+ 복원 추출 방법 : replace=TRUE

In [8]:
sample(1:5, size=3)
sample(1:5, size=3, replace=TRUE)

[1] 2 4 1

[1] 2 5 5

In [9]:
my_index <- sample(1:nrow(iris_t), size=3)
iris[my_index,]

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
90  5.5          2.5         4.0          1.3         versicolor
110 7.2          3.6         6.1          2.5         virginica
62  5.9          3.0         4.2          1.5         versicolor

### 특정 변수의 값이 가장 큰(작은) 관찰값 선택
+ top_n(df, n, wt)
+ df : 데이터 프레임
+ n : 선택할 행의 개수
+ wt : 순서를 결정할 변수 지정

+ iris_t에서 Sepal.Width의 값이 가장 큰 두 관찰값 및 가장 작은 두 관찰값 선택

In [10]:
top_n(iris_t, n=2, Sepal.Width)
top_n(iris_t, n=-2, Sepal.Width)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.7          4.4         1.5          0.4         setosa
2 5.5          4.2         1.4          0.2         setosa

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.0          2.0         3.5          1.0         versicolor
2 6.0          2.2         4.0          1.0         versicolor
3 6.2          2.2         4.5          1.5         versicolor
4 6.0          2.2         5.0          1.5         virginica

### 관찰값의 정렬 : arrange()
+ 특정 변수를 기준으로 데이터 프레임의 행 재배열
+ 기본적인 사용법 : arrange(df, var_1, var_2, ...)
+ var_1 : 제 1 정렬 기준 변수
+ var_2 : var_1의 값이 같은 관찰값의 정렬 기준
+ 오름차순 정렬이 디폴트
+ 내림차순 정렬 : 기준 변수를 함수 desc()에 입력

In [11]:
mtcars_t <- as.tibble(mtcars)
arrange(mtcars_t, mpg)
arrange(mtcars_t, mpg, desc(wt))

Warning message:
"`as.tibble()` is deprecated, use `as_tibble()` (but mind the new semantics).
This warning is displayed once per session."

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
2  10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
3  13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
4  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
5  14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
6  15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
7  15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
8  15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
9  15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
10 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
11 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
12 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
13 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
14 18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
15 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
16 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
17 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
18 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
19 21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
20 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
21 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
22 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
23 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
24 22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
25 22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
26 24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
28 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
29 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
30 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
31 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
32 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
2  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
3  13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
4  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
5  14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
6  15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
7  15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
8  15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
9  15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
10 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
11 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
12 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
13 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
14 18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
15 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
16 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
17 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
18 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
19 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
20 21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
21 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
22 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
23 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
24 22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
25 22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
26 24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
28 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
29 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
30 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
31 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
32 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1

In [12]:
air_t <- as.tibble(airquality)
air_t1 <- filter(air_t, Month==5, Day <= 10)
arrange(air_t1,Ozone)

   Ozone Solar.R Wind Temp Month Day
1   8     19     20.1 61   5      9
2  12    149     12.6 74   5      3
3  18    313     11.5 62   5      4
4  19     99     13.8 59   5      8
5  23    299      8.6 65   5      7
6  28     NA     14.9 66   5      6
7  36    118      8.0 72   5      2
8  41    190      7.4 67   5      1
9  NA     NA     14.3 56   5      5
10 NA    194      8.6 69   5     10

In [13]:
arrange(air_t1, !is.na(Ozone))

   Ozone Solar.R Wind Temp Month Day
1  NA     NA     14.3 56   5      5
2  NA    194      8.6 69   5     10
3  41    190      7.4 67   5      1
4  36    118      8.0 72   5      2
5  12    149     12.6 74   5      3
6  18    313     11.5 62   5      4
7  28     NA     14.9 66   5      6
8  23    299      8.6 65   5      7
9  19     99     13.8 59   5      8
10  8     19     20.1 61   5      9

In [17]:
arrange(air_t1, !is.na(Ozone),desc(Ozone))

   Ozone Solar.R Wind Temp Month Day
1  NA     NA     14.3 56   5      5
2  NA    194      8.6 69   5     10
3  41    190      7.4 67   5      1
4  36    118      8.0 72   5      2
5  28     NA     14.9 66   5      6
6  23    299      8.6 65   5      7
7  19     99     13.8 59   5      8
8  18    313     11.5 62   5      4
9  12    149     12.6 74   5      3
10  8     19     20.1 61   5      9

### 변수 선택 : select()
+ 데이터 세트의 크기 증가
+ 변수의 개수가 수백 또는 수천이 되는 경우 발생
+ 분석에 필요한 변수 선택으로 데이터 세트 크기 감소
+ 기본적인 사용법 : select(df, 변수 이름 또는 문자열 매칭 함수)

+ mtcars의 rownames를 rowname 변수로 만들고 mpg와 rowname을 출력하라

In [27]:
mtcars_d <- rownames_to_column(mtcars,var="rowname")
mtcars_t <- as_tibble(mtcars_d)

In [28]:
select(mtcars_t,rowname,mpg)

   rowname             mpg
1  Mazda RX4           21.0
2  Mazda RX4 Wag       21.0
3  Datsun 710          22.8
4  Hornet 4 Drive      21.4
5  Hornet Sportabout   18.7
6  Valiant             18.1
7  Duster 360          14.3
8  Merc 240D           24.4
9  Merc 230            22.8
10 Merc 280            19.2
11 Merc 280C           17.8
12 Merc 450SE          16.4
13 Merc 450SL          17.3
14 Merc 450SLC         15.2
15 Cadillac Fleetwood  10.4
16 Lincoln Continental 10.4
17 Chrysler Imperial   14.7
18 Fiat 128            32.4
19 Honda Civic         30.4
20 Toyota Corolla      33.9
21 Toyota Corona       21.5
22 Dodge Challenger    15.5
23 AMC Javelin         15.2
24 Camaro Z28          13.3
25 Pontiac Firebird    19.2
26 Fiat X1-9           27.3
27 Porsche 914-2       26.0
28 Lotus Europa        30.4
29 Ford Pantera L      15.8
30 Ferrari Dino        19.7
31 Maserati Bora       15.0
32 Volvo 142E          21.4

+ mtcars_t의 mpg부터 wt까지 모두 선택

In [31]:
select(mtcars_t,mpg:wt)
select(mtcars_t, 2:7)

   mpg  cyl disp  hp  drat wt
1  21.0 6   160.0 110 3.90 2.620
2  21.0 6   160.0 110 3.90 2.875
3  22.8 4   108.0  93 3.85 2.320
4  21.4 6   258.0 110 3.08 3.215
5  18.7 8   360.0 175 3.15 3.440
6  18.1 6   225.0 105 2.76 3.460
7  14.3 8   360.0 245 3.21 3.570
8  24.4 4   146.7  62 3.69 3.190
9  22.8 4   140.8  95 3.92 3.150
10 19.2 6   167.6 123 3.92 3.440
11 17.8 6   167.6 123 3.92 3.440
12 16.4 8   275.8 180 3.07 4.070
13 17.3 8   275.8 180 3.07 3.730
14 15.2 8   275.8 180 3.07 3.780
15 10.4 8   472.0 205 2.93 5.250
16 10.4 8   460.0 215 3.00 5.424
17 14.7 8   440.0 230 3.23 5.345
18 32.4 4    78.7  66 4.08 2.200
19 30.4 4    75.7  52 4.93 1.615
20 33.9 4    71.1  65 4.22 1.835
21 21.5 4   120.1  97 3.70 2.465
22 15.5 8   318.0 150 2.76 3.520
23 15.2 8   304.0 150 3.15 3.435
24 13.3 8   350.0 245 3.73 3.840
25 19.2 8   400.0 175 3.08 3.845
26 27.3 4    79.0  66 4.08 1.935
27 26.0 4   120.3  91 4.43 2.140
28 30.4 4    95.1 113 3.77 1.513
29 15.8 8   351.0 264 4.22 3.170
30 19.7 6   145.0 175 3.62 2.770
31 15.0 8   301.0 335 3.54 3.570
32 21.4 4   121.0 109 4.11 2.780

   mpg  cyl disp  hp  drat wt
1  21.0 6   160.0 110 3.90 2.620
2  21.0 6   160.0 110 3.90 2.875
3  22.8 4   108.0  93 3.85 2.320
4  21.4 6   258.0 110 3.08 3.215
5  18.7 8   360.0 175 3.15 3.440
6  18.1 6   225.0 105 2.76 3.460
7  14.3 8   360.0 245 3.21 3.570
8  24.4 4   146.7  62 3.69 3.190
9  22.8 4   140.8  95 3.92 3.150
10 19.2 6   167.6 123 3.92 3.440
11 17.8 6   167.6 123 3.92 3.440
12 16.4 8   275.8 180 3.07 4.070
13 17.3 8   275.8 180 3.07 3.730
14 15.2 8   275.8 180 3.07 3.780
15 10.4 8   472.0 205 2.93 5.250
16 10.4 8   460.0 215 3.00 5.424
17 14.7 8   440.0 230 3.23 5.345
18 32.4 4    78.7  66 4.08 2.200
19 30.4 4    75.7  52 4.93 1.615
20 33.9 4    71.1  65 4.22 1.835
21 21.5 4   120.1  97 3.70 2.465
22 15.5 8   318.0 150 2.76 3.520
23 15.2 8   304.0 150 3.15 3.435
24 13.3 8   350.0 245 3.73 3.840
25 19.2 8   400.0 175 3.08 3.845
26 27.3 4    79.0  66 4.08 1.935
27 26.0 4   120.3  91 4.43 2.140
28 30.4 4    95.1 113 3.77 1.513
29 15.8 8   351.0 264 4.22 3.170
30 19.7 6   145.0 175 3.62 2.770
31 15.0 8   301.0 335 3.54 3.570
32 21.4 4   121.0 109 4.11 2.780

+ mtcars_t 에서 rowname과 qsec에서 carb까지 제거

In [32]:
select(mtcars_t, -rowname, -(qsec:carb))
select(mtcars_t, -1, -(8:12))

   mpg  cyl disp  hp  drat wt
1  21.0 6   160.0 110 3.90 2.620
2  21.0 6   160.0 110 3.90 2.875
3  22.8 4   108.0  93 3.85 2.320
4  21.4 6   258.0 110 3.08 3.215
5  18.7 8   360.0 175 3.15 3.440
6  18.1 6   225.0 105 2.76 3.460
7  14.3 8   360.0 245 3.21 3.570
8  24.4 4   146.7  62 3.69 3.190
9  22.8 4   140.8  95 3.92 3.150
10 19.2 6   167.6 123 3.92 3.440
11 17.8 6   167.6 123 3.92 3.440
12 16.4 8   275.8 180 3.07 4.070
13 17.3 8   275.8 180 3.07 3.730
14 15.2 8   275.8 180 3.07 3.780
15 10.4 8   472.0 205 2.93 5.250
16 10.4 8   460.0 215 3.00 5.424
17 14.7 8   440.0 230 3.23 5.345
18 32.4 4    78.7  66 4.08 2.200
19 30.4 4    75.7  52 4.93 1.615
20 33.9 4    71.1  65 4.22 1.835
21 21.5 4   120.1  97 3.70 2.465
22 15.5 8   318.0 150 2.76 3.520
23 15.2 8   304.0 150 3.15 3.435
24 13.3 8   350.0 245 3.73 3.840
25 19.2 8   400.0 175 3.08 3.845
26 27.3 4    79.0  66 4.08 1.935
27 26.0 4   120.3  91 4.43 2.140
28 30.4 4    95.1 113 3.77 1.513
29 15.8 8   351.0 264 4.22 3.170
30 19.7 6   145.0 175 3.62 2.770
31 15.0 8   301.0 335 3.54 3.570
32 21.4 4   121.0 109 4.11 2.780

   mpg  cyl disp  hp  drat wt
1  21.0 6   160.0 110 3.90 2.620
2  21.0 6   160.0 110 3.90 2.875
3  22.8 4   108.0  93 3.85 2.320
4  21.4 6   258.0 110 3.08 3.215
5  18.7 8   360.0 175 3.15 3.440
6  18.1 6   225.0 105 2.76 3.460
7  14.3 8   360.0 245 3.21 3.570
8  24.4 4   146.7  62 3.69 3.190
9  22.8 4   140.8  95 3.92 3.150
10 19.2 6   167.6 123 3.92 3.440
11 17.8 6   167.6 123 3.92 3.440
12 16.4 8   275.8 180 3.07 4.070
13 17.3 8   275.8 180 3.07 3.730
14 15.2 8   275.8 180 3.07 3.780
15 10.4 8   472.0 205 2.93 5.250
16 10.4 8   460.0 215 3.00 5.424
17 14.7 8   440.0 230 3.23 5.345
18 32.4 4    78.7  66 4.08 2.200
19 30.4 4    75.7  52 4.93 1.615
20 33.9 4    71.1  65 4.22 1.835
21 21.5 4   120.1  97 3.70 2.465
22 15.5 8   318.0 150 2.76 3.520
23 15.2 8   304.0 150 3.15 3.435
24 13.3 8   350.0 245 3.73 3.840
25 19.2 8   400.0 175 3.08 3.845
26 27.3 4    79.0  66 4.08 1.935
27 26.0 4   120.3  91 4.43 2.140
28 30.4 4    95.1 113 3.77 1.513
29 15.8 8   351.0 264 4.22 3.170
30 19.7 6   145.0 175 3.62 2.770
31 15.0 8   301.0 335 3.54 3.570
32 21.4 4   121.0 109 4.11 2.780

### 문자열 매칭 함수
+ 변수가 많은 경우 선택하고자 하는 변수의 이름을 일일이 나열하는 것은 상당히 비효율적
+ 효율적으로 변수 이름을 선택하는 방법이 필요
+ starts_with("x") : 이름이 "x"로 시작하는 변수 선택
+ ends_with("x") : 이름이 "x"로 끝나는 변수 선택
+ contains("x") : 이름에 "x"가 있는 변수 선택
+ num_range("x", 1:10) : x1,x2,...,x10과 동일

+ mtcars_t에서 "m"으로 시작되는 변수 선택
+ mtcars_t에서 "p"로 이름이 끝나는 변수 선택
+ mtcars_t에서 "a"가 이름에 있는 변수 선택

In [34]:
select(mtcars_t, starts_with("m"))
select(mtcars_t, ends_with("p"))
select(mtcars_t, contains("a"))

   mpg
1  21.0
2  21.0
3  22.8
4  21.4
5  18.7
6  18.1
7  14.3
8  24.4
9  22.8
10 19.2
11 17.8
12 16.4
13 17.3
14 15.2
15 10.4
16 10.4
17 14.7
18 32.4
19 30.4
20 33.9
21 21.5
22 15.5
23 15.2
24 13.3
25 19.2
26 27.3
27 26.0
28 30.4
29 15.8
30 19.7
31 15.0
32 21.4

   disp  hp
1  160.0 110
2  160.0 110
3  108.0  93
4  258.0 110
5  360.0 175
6  225.0 105
7  360.0 245
8  146.7  62
9  140.8  95
10 167.6 123
11 167.6 123
12 275.8 180
13 275.8 180
14 275.8 180
15 472.0 205
16 460.0 215
17 440.0 230
18  78.7  66
19  75.7  52
20  71.1  65
21 120.1  97
22 318.0 150
23 304.0 150
24 350.0 245
25 400.0 175
26  79.0  66
27 120.3  91
28  95.1 113
29 351.0 264
30 145.0 175
31 301.0 335
32 121.0 109

   rowname             drat am gear carb
1  Mazda RX4           3.90 1  4    4
2  Mazda RX4 Wag       3.90 1  4    4
3  Datsun 710          3.85 1  4    1
4  Hornet 4 Drive      3.08 0  3    1
5  Hornet Sportabout   3.15 0  3    2
6  Valiant             2.76 0  3    1
7  Duster 360          3.21 0  3    4
8  Merc 240D           3.69 0  4    2
9  Merc 230            3.92 0  4    2
10 Merc 280            3.92 0  4    4
11 Merc 280C           3.92 0  4    4
12 Merc 450SE          3.07 0  3    3
13 Merc 450SL          3.07 0  3    3
14 Merc 450SLC         3.07 0  3    3
15 Cadillac Fleetwood  2.93 0  3    4
16 Lincoln Continental 3.00 0  3    4
17 Chrysler Imperial   3.23 0  3    4
18 Fiat 128            4.08 1  4    1
19 Honda Civic         4.93 1  4    2
20 Toyota Corolla      4.22 1  4    1
21 Toyota Corona       3.70 0  3    1
22 Dodge Challenger    2.76 0  3    2
23 AMC Javelin         3.15 0  3    2
24 Camaro Z28          3.73 0  3    4
25 Pontiac Firebird    3.08 0  3    2
26 Fiat X1-9           4.08 1  4    1
27 Porsche 914-2       4.43 1  5    2
28 Lotus Europa        3.77 1  5    2
29 Ford Pantera L      4.22 1  5    4
30 Ferrari Dino        3.62 1  5    6
31 Maserati Bora       3.54 1  5    8
32 Volvo 142E          4.11 1  4    2

+ iris 에서 "pe"가 이름에 있는 변수 선택, 제거
+ 문자열 매칭 함수는 소문자, 대문자 구분하지 않음
+ ignore.case = TRUE 가 디폴트이기 때문

In [39]:
names(iris)
iris_t <- as_tibble(iris)
select(iris_t, contains("pe"))
select(iris_t, -contains("pe"))

[1] "Sepal.Length" "Sepal.Width"  "Petal.Length" "Petal.Width"  "Species"

    Petal.Length Petal.Width Species
1   1.4          0.2         setosa
2   1.4          0.2         setosa
3   1.3          0.2         setosa
4   1.5          0.2         setosa
5   1.4          0.2         setosa
6   1.7          0.4         setosa
7   1.4          0.3         setosa
8   1.5          0.2         setosa
9   1.4          0.2         setosa
10  1.5          0.1         setosa
11  1.5          0.2         setosa
12  1.6          0.2         setosa
13  1.4          0.1         setosa
14  1.1          0.1         setosa
15  1.2          0.2         setosa
16  1.5          0.4         setosa
17  1.3          0.4         setosa
18  1.4          0.3         setosa
19  1.7          0.3         setosa
20  1.5          0.3         setosa
21  1.7          0.2         setosa
22  1.5          0.4         setosa
23  1.0          0.2         setosa
24  1.7          0.5         setosa
25  1.9          0.2         setosa
26  1.6          0.2         setosa
27  1.6          0.4         setosa
28  1.5          0.2         setosa
29  1.4          0.2         setosa
30  1.6          0.2         setosa
... ...          ...         ...
121 5.7          2.3         virginica
122 4.9          2.0         virginica
123 6.7          2.0         virginica
124 4.9          1.8         virginica
125 5.7          2.1         virginica
126 6.0          1.8         virginica
127 4.8          1.8         virginica
128 4.9          1.8         virginica
129 5.6          2.1         virginica
130 5.8          1.6         virginica
131 6.1          1.9         virginica
132 6.4          2.0         virginica
133 5.6          2.2         virginica
134 5.1          1.5         virginica
135 5.6          1.4         virginica
136 6.1          2.3         virginica
137 5.6          2.4         virginica
138 5.5          1.8         virginica
139 4.8          1.8         virginica
140 5.4          2.1         virginica
141 5.6          2.4         virginica
142 5.1          2.3         virginica
143 5.1          1.9         virginica
144 5.9          2.3         virginica
145 5.7          2.5         virginica
146 5.2          2.3         virginica
147 5.0          1.9         virginica
148 5.2          2.0         virginica
149 5.4          2.3         virginica
150 5.1          1.8         virginica

    Sepal.Length Sepal.Width
1   5.1          3.5
2   4.9          3.0
3   4.7          3.2
4   4.6          3.1
5   5.0          3.6
6   5.4          3.9
7   4.6          3.4
8   5.0          3.4
9   4.4          2.9
10  4.9          3.1
11  5.4          3.7
12  4.8          3.4
13  4.8          3.0
14  4.3          3.0
15  5.8          4.0
16  5.7          4.4
17  5.4          3.9
18  5.1          3.5
19  5.7          3.8
20  5.1          3.8
21  5.4          3.4
22  5.1          3.7
23  4.6          3.6
24  5.1          3.3
25  4.8          3.4
26  5.0          3.0
27  5.0          3.4
28  5.2          3.5
29  5.2          3.4
30  4.7          3.2
... ...          ...
121 6.9          3.2
122 5.6          2.8
123 7.7          2.8
124 6.3          2.7
125 6.7          3.3
126 7.2          3.2
127 6.2          2.8
128 6.1          3.0
129 6.4          2.8
130 7.2          3.0
131 7.4          2.8
132 7.9          3.8
133 6.4          2.8
134 6.3          2.8
135 6.1          2.6
136 7.7          3.0
137 6.3          3.4
138 6.4          3.1
139 6.0          3.0
140 6.9          3.1
141 6.7          3.1
142 6.9          3.1
143 5.8          2.7
144 6.8          3.2
145 6.7          3.3
146 6.7          3.0
147 6.3          2.5
148 6.5          3.0
149 6.2          3.4
150 5.9          3.0

+ 대소문자 구분 = ignore.case = FALSE

In [40]:
select(iris_t, contains("pe",ignore.case=FALSE))
select(iris_t, -contains("pe",ignore.case=FALSE))

    Species
1   setosa
2   setosa
3   setosa
4   setosa
5   setosa
6   setosa
7   setosa
8   setosa
9   setosa
10  setosa
11  setosa
12  setosa
13  setosa
14  setosa
15  setosa
16  setosa
17  setosa
18  setosa
19  setosa
20  setosa
21  setosa
22  setosa
23  setosa
24  setosa
25  setosa
26  setosa
27  setosa
28  setosa
29  setosa
30  setosa
... ...
121 virginica
122 virginica
123 virginica
124 virginica
125 virginica
126 virginica
127 virginica
128 virginica
129 virginica
130 virginica
131 virginica
132 virginica
133 virginica
134 virginica
135 virginica
136 virginica
137 virginica
138 virginica
139 virginica
140 virginica
141 virginica
142 virginica
143 virginica
144 virginica
145 virginica
146 virginica
147 virginica
148 virginica
149 virginica
150 virginica

    Sepal.Length Sepal.Width Petal.Length Petal.Width
1   5.1          3.5         1.4          0.2
2   4.9          3.0         1.4          0.2
3   4.7          3.2         1.3          0.2
4   4.6          3.1         1.5          0.2
5   5.0          3.6         1.4          0.2
6   5.4          3.9         1.7          0.4
7   4.6          3.4         1.4          0.3
8   5.0          3.4         1.5          0.2
9   4.4          2.9         1.4          0.2
10  4.9          3.1         1.5          0.1
11  5.4          3.7         1.5          0.2
12  4.8          3.4         1.6          0.2
13  4.8          3.0         1.4          0.1
14  4.3          3.0         1.1          0.1
15  5.8          4.0         1.2          0.2
16  5.7          4.4         1.5          0.4
17  5.4          3.9         1.3          0.4
18  5.1          3.5         1.4          0.3
19  5.7          3.8         1.7          0.3
20  5.1          3.8         1.5          0.3
21  5.4          3.4         1.7          0.2
22  5.1          3.7         1.5          0.4
23  4.6          3.6         1.0          0.2
24  5.1          3.3         1.7          0.5
25  4.8          3.4         1.9          0.2
26  5.0          3.0         1.6          0.2
27  5.0          3.4         1.6          0.4
28  5.2          3.5         1.5          0.2
29  5.2          3.4         1.4          0.2
30  4.7          3.2         1.6          0.2
... ...          ...         ...          ...
121 6.9          3.2         5.7          2.3
122 5.6          2.8         4.9          2.0
123 7.7          2.8         6.7          2.0
124 6.3          2.7         4.9          1.8
125 6.7          3.3         5.7          2.1
126 7.2          3.2         6.0          1.8
127 6.2          2.8         4.8          1.8
128 6.1          3.0         4.9          1.8
129 6.4          2.8         5.6          2.1
130 7.2          3.0         5.8          1.6
131 7.4          2.8         6.1          1.9
132 7.9          3.8         6.4          2.0
133 6.4          2.8         5.6          2.2
134 6.3          2.8         5.1          1.5
135 6.1          2.6         5.6          1.4
136 7.7          3.0         6.1          2.3
137 6.3          3.4         5.6          2.4
138 6.4          3.1         5.5          1.8
139 6.0          3.0         4.8          1.8
140 6.9          3.1         5.4          2.1
141 6.7          3.1         5.6          2.4
142 6.9          3.1         5.1          2.3
143 5.8          2.7         5.1          1.9
144 6.8          3.2         5.9          2.3
145 6.7          3.3         5.7          2.5
146 6.7          3.0         5.2          2.3
147 6.3          2.5         5.0          1.9
148 6.5          3.0         5.2          2.0
149 6.2          3.4         5.4          2.3
150 5.9          3.0         5.1          1.8

In [42]:
select(iris_t, -starts_with("Sp"))
select(iris_t, -ends_with("th"))

    Sepal.Length Sepal.Width Petal.Length Petal.Width
1   5.1          3.5         1.4          0.2
2   4.9          3.0         1.4          0.2
3   4.7          3.2         1.3          0.2
4   4.6          3.1         1.5          0.2
5   5.0          3.6         1.4          0.2
6   5.4          3.9         1.7          0.4
7   4.6          3.4         1.4          0.3
8   5.0          3.4         1.5          0.2
9   4.4          2.9         1.4          0.2
10  4.9          3.1         1.5          0.1
11  5.4          3.7         1.5          0.2
12  4.8          3.4         1.6          0.2
13  4.8          3.0         1.4          0.1
14  4.3          3.0         1.1          0.1
15  5.8          4.0         1.2          0.2
16  5.7          4.4         1.5          0.4
17  5.4          3.9         1.3          0.4
18  5.1          3.5         1.4          0.3
19  5.7          3.8         1.7          0.3
20  5.1          3.8         1.5          0.3
21  5.4          3.4         1.7          0.2
22  5.1          3.7         1.5          0.4
23  4.6          3.6         1.0          0.2
24  5.1          3.3         1.7          0.5
25  4.8          3.4         1.9          0.2
26  5.0          3.0         1.6          0.2
27  5.0          3.4         1.6          0.4
28  5.2          3.5         1.5          0.2
29  5.2          3.4         1.4          0.2
30  4.7          3.2         1.6          0.2
... ...          ...         ...          ...
121 6.9          3.2         5.7          2.3
122 5.6          2.8         4.9          2.0
123 7.7          2.8         6.7          2.0
124 6.3          2.7         4.9          1.8
125 6.7          3.3         5.7          2.1
126 7.2          3.2         6.0          1.8
127 6.2          2.8         4.8          1.8
128 6.1          3.0         4.9          1.8
129 6.4          2.8         5.6          2.1
130 7.2          3.0         5.8          1.6
131 7.4          2.8         6.1          1.9
132 7.9          3.8         6.4          2.0
133 6.4          2.8         5.6          2.2
134 6.3          2.8         5.1          1.5
135 6.1          2.6         5.6          1.4
136 7.7          3.0         6.1          2.3
137 6.3          3.4         5.6          2.4
138 6.4          3.1         5.5          1.8
139 6.0          3.0         4.8          1.8
140 6.9          3.1         5.4          2.1
141 6.7          3.1         5.6          2.4
142 6.9          3.1         5.1          2.3
143 5.8          2.7         5.1          1.9
144 6.8          3.2         5.9          2.3
145 6.7          3.3         5.7          2.5
146 6.7          3.0         5.2          2.3
147 6.3          2.5         5.0          1.9
148 6.5          3.0         5.2          2.0
149 6.2          3.4         5.4          2.3
150 5.9          3.0         5.1          1.8

    Species
1   setosa
2   setosa
3   setosa
4   setosa
5   setosa
6   setosa
7   setosa
8   setosa
9   setosa
10  setosa
11  setosa
12  setosa
13  setosa
14  setosa
15  setosa
16  setosa
17  setosa
18  setosa
19  setosa
20  setosa
21  setosa
22  setosa
23  setosa
24  setosa
25  setosa
26  setosa
27  setosa
28  setosa
29  setosa
30  setosa
... ...
121 virginica
122 virginica
123 virginica
124 virginica
125 virginica
126 virginica
127 virginica
128 virginica
129 virginica
130 virginica
131 virginica
132 virginica
133 virginica
134 virginica
135 virginica
136 virginica
137 virginica
138 virginica
139 virginica
140 virginica
141 virginica
142 virginica
143 virginica
144 virginica
145 virginica
146 virginica
147 virginica
148 virginica
149 virginica
150 virginica

+ 변수 배열 변경 : 몇몇 변수를 앞으로 옮겨서 재배치

In [44]:
select(iris_t, Species, everything())

    Species   Sepal.Length Sepal.Width Petal.Length Petal.Width
1   setosa    5.1          3.5         1.4          0.2
2   setosa    4.9          3.0         1.4          0.2
3   setosa    4.7          3.2         1.3          0.2
4   setosa    4.6          3.1         1.5          0.2
5   setosa    5.0          3.6         1.4          0.2
6   setosa    5.4          3.9         1.7          0.4
7   setosa    4.6          3.4         1.4          0.3
8   setosa    5.0          3.4         1.5          0.2
9   setosa    4.4          2.9         1.4          0.2
10  setosa    4.9          3.1         1.5          0.1
11  setosa    5.4          3.7         1.5          0.2
12  setosa    4.8          3.4         1.6          0.2
13  setosa    4.8          3.0         1.4          0.1
14  setosa    4.3          3.0         1.1          0.1
15  setosa    5.8          4.0         1.2          0.2
16  setosa    5.7          4.4         1.5          0.4
17  setosa    5.4          3.9         1.3          0.4
18  setosa    5.1          3.5         1.4          0.3
19  setosa    5.7          3.8         1.7          0.3
20  setosa    5.1          3.8         1.5          0.3
21  setosa    5.4          3.4         1.7          0.2
22  setosa    5.1          3.7         1.5          0.4
23  setosa    4.6          3.6         1.0          0.2
24  setosa    5.1          3.3         1.7          0.5
25  setosa    4.8          3.4         1.9          0.2
26  setosa    5.0          3.0         1.6          0.2
27  setosa    5.0          3.4         1.6          0.4
28  setosa    5.2          3.5         1.5          0.2
29  setosa    5.2          3.4         1.4          0.2
30  setosa    4.7          3.2         1.6          0.2
... ...       ...          ...         ...          ...
121 virginica 6.9          3.2         5.7          2.3
122 virginica 5.6          2.8         4.9          2.0
123 virginica 7.7          2.8         6.7          2.0
124 virginica 6.3          2.7         4.9          1.8
125 virginica 6.7          3.3         5.7          2.1
126 virginica 7.2          3.2         6.0          1.8
127 virginica 6.2          2.8         4.8          1.8
128 virginica 6.1          3.0         4.9          1.8
129 virginica 6.4          2.8         5.6          2.1
130 virginica 7.2          3.0         5.8          1.6
131 virginica 7.4          2.8         6.1          1.9
132 virginica 7.9          3.8         6.4          2.0
133 virginica 6.4          2.8         5.6          2.2
134 virginica 6.3          2.8         5.1          1.5
135 virginica 6.1          2.6         5.6          1.4
136 virginica 7.7          3.0         6.1          2.3
137 virginica 6.3          3.4         5.6          2.4
138 virginica 6.4          3.1         5.5          1.8
139 virginica 6.0          3.0         4.8          1.8
140 virginica 6.9          3.1         5.4          2.1
141 virginica 6.7          3.1         5.6          2.4
142 virginica 6.9          3.1         5.1          2.3
143 virginica 5.8          2.7         5.1          1.9
144 virginica 6.8          3.2         5.9          2.3
145 virginica 6.7          3.3         5.7          2.5
146 virginica 6.7          3.0         5.2          2.3
147 virginica 6.3          2.5         5.0          1.9
148 virginica 6.5          3.0         5.2          2.0
149 virginica 6.2          3.4         5.4          2.3
150 virginica 5.9          3.0         5.1          1.8

### 변수 이름 수정
+ 함수 select() : 이름이 명시되지 않는 변수는 자동 제거
+ 함수 rename() : 변수 이름 수정에는 더 효과적

In [45]:
select(mtcars_t, Model=rowname)

   Model
1  Mazda RX4
2  Mazda RX4 Wag
3  Datsun 710
4  Hornet 4 Drive
5  Hornet Sportabout
6  Valiant
7  Duster 360
8  Merc 240D
9  Merc 230
10 Merc 280
11 Merc 280C
12 Merc 450SE
13 Merc 450SL
14 Merc 450SLC
15 Cadillac Fleetwood
16 Lincoln Continental
17 Chrysler Imperial
18 Fiat 128
19 Honda Civic
20 Toyota Corolla
21 Toyota Corona
22 Dodge Challenger
23 AMC Javelin
24 Camaro Z28
25 Pontiac Firebird
26 Fiat X1-9
27 Porsche 914-2
28 Lotus Europa
29 Ford Pantera L
30 Ferrari Dino
31 Maserati Bora
32 Volvo 142E

In [46]:
rename(mtcars_t, Model=rowname)

   Model               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5  Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
6  Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
7  Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
8  Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
9  Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
10 Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
11 Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
12 Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
13 Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
14 Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
15 Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
16 Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
17 Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
18 Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
19 Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
20 Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
21 Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
22 Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
23 AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
24 Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
25 Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
26 Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
27 Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
28 Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
29 Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
30 Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
31 Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
32 Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

### 새로운 변수의 추가 : mutate()
+ 데이터 프레임을 구성하고 있는 변수를 이용하여 새로운 변수 생성
+ 기본적인 사용법 : mutate(df, 새로운 변수 생성 표현식)
+ 생성된 변수는 데이터 프레임의 마지막 변수로 추가됨

In [56]:
mtcars_t1 <- mutate(mtcars_t, kml = mpg*(1/0.43))
mtcars_t1 <- mutate(mtcars_t1, gp_kml = if_else(kml >= 10, "good", "bad"))

In [57]:
select(mtcars_t1, kml ,gp_kml, everything())

   kml      gp_kml rowname             mpg  cyl disp  hp  drat wt    qsec  vs
1  48.83721 good   Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0
2  48.83721 good   Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0
3  53.02326 good   Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1
4  49.76744 good   Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1
5  43.48837 good   Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0
6  42.09302 good   Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1
7  33.25581 good   Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0
8  56.74419 good   Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1
9  53.02326 good   Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1
10 44.65116 good   Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1
11 41.39535 good   Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1
12 38.13953 good   Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0
13 40.23256 good   Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0
14 35.34884 good   Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0
15 24.18605 good   Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0
16 24.18605 good   Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0
17 34.18605 good   Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0
18 75.34884 good   Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1
19 70.69767 good   Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1
20 78.83721 good   Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1
21 50.00000 good   Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1
22 36.04651 good   Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0
23 35.34884 good   AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0
24 30.93023 good   Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0
25 44.65116 good   Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0
26 63.48837 good   Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1
27 60.46512 good   Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0
28 70.69767 good   Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1
29 36.74419 good   Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0
30 45.81395 good   Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0
31 34.88372 good   Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0
32 49.76744 good   Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1
   am gear carb
1  1  4    4
2  1  4    4
3  1  4    1
4  0  3    1
5  0  3    2
6  0  3    1
7  0  3    4
8  0  4    2
9  0  4    2
10 0  4    4
11 0  4    4
12 0  3    3
13 0  3    3
14 0  3    3
15 0  3    4
16 0  3    4
17 0  3    4
18 1  4    1
19 1  4    2
20 1  4    1
21 0  3    1
22 0  3    2
23 0  3    2
24 0  3    4
25 0  3    2
26 1  4    1
27 1  5    2
28 1  5    2
29 1  5    4
30 1  5    6
31 1  5    8
32 1  4    2