### 중복된 케이스 제거
+ 특정 변수의 값이 중복된 케이스 제거

In [2]:
df1 <- data.frame(id=rep(1:3, times=2:4), x1=1:9)
duplicated(df1$id)
filter(df1, !duplicated(df1$id))

[1] FALSE  TRUE FALSE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE

  [,1] [,2]
1 NA   NA
2 NA   NA
3 NA   NA
4 NA   NA
5  8   20
6 NA   NA
7 NA   NA
8 NA   NA
9 NA   NA

### 모든 변수의 값이 중복된 행 제거

In [3]:
library(tidyverse)
df2 <- data.frame(id=rep(1:3,each=2), x1 = c(2,2,3,1,4,4))
tb2 <- as_tibble(df2)
# df2 = tibble(id=rep(1:3, each=2), x1=c(2,2,3,1,4,4))
duplicated(tb2)
filter(df2,!duplicated(tb2))

Warning message:
"package 'tidyverse' was built under R version 3.5.3"
-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

√ ggplot2 3.2.1     √ purrr   0.3.3
√ tibble  2.1.3     √ dplyr   0.8.4
√ tidyr   1.0.2     √ stringr 1.4.0
√ readr   1.3.1     √ forcats 0.4.0

Warning message:
"package 'ggplot2' was built under R version 3.5.3"
Warning message:
"package 'tibble' was built under R version 3.5.3"
Warning message:
"package 'tidyr' was built under R version 3.5.3"
Warning message:
"package 'readr' was built under R version 3.5.3"
Warning message:
"package 'purrr' was built under R version 3.5.3"
Warning message:
"package 'dplyr' was built under R version 3.5.3"
Warning message:
"package 'stringr' was built under R version 3.5.3"
Warning message:
"package 'forcats' was built under R version 3.5.3"
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

[1] FALSE  TRUE FALSE FALSE FALSE  TRUE

  id x1
1 1  2
2 2  3
3 2  1
4 3  4

## 관찰값 선택에 유용한 다른 함수
### 관찰값의 단수임의추출
+ sample_n() : 추출하는 행의 개수 size에 지정
+ sample_frac() : 추출하는 행의 비율 size에 지정
+ 비복원 추출이 디폴트
+ 복원 추출을 원하는 경우 replace=TRUE 입력

In [4]:
iris_t <- as_tibble(iris)
sample_n(iris_t, size=3)
sample_frac(iris_t, size=0.01)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.6          2.8         4.9          2.0         virginica
2 5.0          3.2         1.2          0.2         setosa
3 6.8          2.8         4.8          1.4         versicolor

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 6.7          3.1         4.4          1.4         versicolor
2 4.9          3.1         1.5          0.2         setosa

+ base R 함수 sample()에 의한 방법
+ 복원 추출 방법 : replace=TRUE

In [5]:
sample(1:5, size=3)
sample(1:5, size=3, replace=TRUE)

[1] 3 2 5

[1] 2 2 4

In [6]:
my_index <- sample(1:nrow(iris_t), size=3)
iris[my_index,]

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
105 6.5          3.0         5.8          2.2         virginica
127 6.2          2.8         4.8          1.8         virginica
138 6.4          3.1         5.5          1.8         virginica

### 특정 변수의 값이 가장 큰(작은) 관찰값 선택
+ top_n(df, n, wt)
+ df : 데이터 프레임
+ n : 선택할 행의 개수
+ wt : 순서를 결정할 변수 지정

+ iris_t에서 Sepal.Width의 값이 가장 큰 두 관찰값 및 가장 작은 두 관찰값 선택

In [9]:
top_n(iris_t, n=2, Sepal.Width)
top_n(iris_t, n=-2, Sepal.Width)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.7          4.4         1.5          0.4         setosa
2 5.5          4.2         1.4          0.2         setosa

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.0          2.0         3.5          1.0         versicolor
2 6.0          2.2         4.0          1.0         versicolor
3 6.2          2.2         4.5          1.5         versicolor
4 6.0          2.2         5.0          1.5         virginica

### 관찰값의 정렬 : arrange()
+ 특정 변수를 기준으로 데이터 프레임의 행 재배열
+ 기본적인 사용법 : arrange(df, var_1, var_2, ...)
+ var_1 : 제 1 정렬 기준 변수
+ var_2 : var_1의 값이 같은 관찰값의 정렬 기준
+ 오름차순 정렬이 디폴트
+ 내림차순 정렬 : 기준 변수를 함수 desc()에 입력

In [14]:
mtcars_t <- as.tibble(mtcars)
arrange(mtcars_t, mpg)
arrange(mtcars_t, mpg, desc(wt))

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
2  10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
3  13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
4  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
5  14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
6  15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
7  15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
8  15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
9  15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
10 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
11 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
12 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
13 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
14 18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
15 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
16 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
17 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
18 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
19 21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
20 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
21 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
22 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
23 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
24 22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
25 22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
26 24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
28 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
29 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
30 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
31 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
32 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
2  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
3  13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
4  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
5  14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
6  15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
7  15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
8  15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
9  15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
10 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
11 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
12 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
13 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
14 18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
15 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
16 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
17 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
18 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
19 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
20 21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
21 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
22 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
23 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
24 22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
25 22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
26 24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
28 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
29 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
30 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
31 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
32 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1

In [15]:
air_t <- as.tibble(airquality)
air_t1 <- filter(air_t, Month==5, Day <= 10)
arrange(air_t1,Ozone)

   Ozone Solar.R Wind Temp Month Day
1   8     19     20.1 61   5      9
2  12    149     12.6 74   5      3
3  18    313     11.5 62   5      4
4  19     99     13.8 59   5      8
5  23    299      8.6 65   5      7
6  28     NA     14.9 66   5      6
7  36    118      8.0 72   5      2
8  41    190      7.4 67   5      1
9  NA     NA     14.3 56   5      5
10 NA    194      8.6 69   5     10

In [22]:
arrange(air_t1, !is.na(Ozone))

   Ozone Solar.R Wind Temp Month Day
1  NA     NA     14.3 56   5      5
2  NA    194      8.6 69   5     10
3  41    190      7.4 67   5      1
4  36    118      8.0 72   5      2
5  12    149     12.6 74   5      3
6  18    313     11.5 62   5      4
7  28     NA     14.9 66   5      6
8  23    299      8.6 65   5      7
9  19     99     13.8 59   5      8
10  8     19     20.1 61   5      9