## 리스트
### 가장 포괄적인 형태의 데이터 구조
+ 리스트 생성 : list()

In [5]:
x <- list(a=c("one","two","three"), b=1:3, c=list(-1,-5),
         d=data.frame(x1=c("s1","s2"),x2=1:2))
x

$a
[1] "one"   "two"   "three"

$b
[1] 1 2 3

$c
$c[[1]]
[1] -1

$c[[2]]
[1] -5


$d
  x1 x2
1 s1  1
2 s2  2

### 리스트의 인덱싱
+ list[[a]] 또는 list[a]의 형태
+ list[a] : 결과는 리스트
+ list[[a]] : 또는 list$a : 해당되는 구성요소의 객체 구조

In [6]:
x[1]
x[[1]]
str(x[1])
str(x[[1]])

$a
[1] "one"   "two"   "three"

[1] "one"   "two"   "three"

List of 1
 $ a: chr [1:3] "one" "two" "three"
 chr [1:3] "one" "two" "three"

+ 리스트 x의 4번째 요소를 데이터 프레임 형태로 선택

In [7]:
x[[4]]
x$d

  x1 x2
1 s1 1
2 s2 2

  x1 x2
1 s1 1
2 s2 2

+ 리스트 x의 4번째 요소의 두 번째 열을 벡터 형태로 선택

In [13]:
x[[4]][[2]]
x$d$x2

[1] 1 2

[1] 1 2

+ 리스트 x의 4번째 요소의 두 번째 열을 데이터 프레임 형태로 선택

In [14]:
x[[4]][2]
x$d[2]

  x2
1 1
2 2

  x2
1 1
2 2

### R에서 리스트의 활용
+ 산만하게 흩어져 있는 정보를 간편하게 묶을 수 있음
+ 많은 R 함수들의 수행 결과가 리스트의 형태로 출력
+ 그 중 원하는 결과를 리스트의 인덱싱 기법으로 선택하여 사용

# 3장. 데이터 입력
+ 텍스트 파일 불러오기 1 : base R 함수 활용
+ 텍스트 파일 불러오기 2 : 패키지 readr 함수 활용
+ Excel 파일 불러오기
+ 웹에서 데이터 풀러오기

### 텍스트 파일 불러오기 1 : base R 함수 활용
+ 함수 scan()으로 한 변수의 관찰값 불러오기

In [15]:
x <- scan("D://알기초프로그래밍/ch3_data/data1.txt")
x

[1] 24 35 28 21 25

+ 함수 read.table()로 2차원 형태의 데이터 파일 불러오기
+ stringsAsFactors=FALSE로 문자열 요인으로의 자동 변환 방지

In [25]:
df1 <- read.table("D://알기초프로그래밍/ch3_data/data2_1.txt")
class(df1$V2)
df1

[1] "factor"

  V1 V2 V3
1 24 M  2000
2 35 F  3100
3 28 F  3800
4 21 F  2800

+ 데이터 파일의 첫 줄에 변수 이름이 있는 경우

In [24]:
df2 <- read.table("D://알기초프로그래밍/ch3_data/data2_2.txt", header=TRUE,
                 stringsAsFactors=FALSE)
df2

  age gender income
1 24  M      2000
2 35  F      3100
3 28  F      3800
4 21  F      2800

+ 데이터 파일에 # 기호로 시작되는 코멘트가 있는 경우

In [26]:
df3 <- read.table("D://알기초프로그래밍/ch3_data/data2_3.txt", header=TRUE)
df3

  x1 x2 x3
1 24 1  2000
2 35 0  3100
3 28 0  3800
4 21 0  2800

In [28]:
df4 <- read.table("D://알기초프로그래밍/ch3_data/data2_4.txt", header=TRUE,
                 na.strings=".", stringsAsFactors=FALSE)
df4

  age gender income
1 24  M      2000
2 NA  F      3100
3 28  NA     3800
4 21  F      2800