### read.csv
+ 자료 파일에 주석이 있는 경우 : 옵션 comment에 주석 기호 지정

In [1]:
library(readr)
read_csv("D://알기초프로그래밍/ch3_data/data5_3.txt",
         col_types="ici",skip=1)

Warning message:
"package 'readr' was built under R version 3.5.3"

  age gender income
1 24  NA     2000
2 35  F      3100
3 NA  F      3800
4 21  F      2800

+ 결측값이 NA가 아닌 다른 기호로 입력된 경우 : 옵션 na

In [3]:
read_csv("D://알기초프로그래밍/ch3_data/data5_4.txt",
         col_types="ici",col_names=FALSE, na=".")

  X1 X2 X3
1 24 M  2000
2 35 NA 3100
3 NA F  3800
4 21 F  2800

+ 결측값이 두개 이상의 다른 기호로 입력된 경우

In [6]:
read_csv("D://알기초프로그래밍/ch3_data/data5_5.txt",
         col_types="ici",col_names=FALSE, na=c(".","?"))

  X1 X2 X3
1 24 M  2000
2 35 NA 3100
3 NA F  3800
4 21 F  2800

## Excel 파일 불러오기
### Excel 스프레드시트
+ 데이터의 생성 및 가공 작업에 많이 사용됨
+ 단순 데이터만이 있는 것이 아니라 공식과 매크로 등 다양한 속성의 개체들이 공존

### 불러오는 방법
+ Excel 파일 직접 불러오기
+ read.xlsx()
+ read_excel()

In [7]:
library(xlsx)
read.xlsx("D://알기초프로그래밍/ch3_data/data6.xlsx", sheetIndex=1)

library(readxl)
df3 <- read_excel("D://알기초프로그래밍/ch3_data/data6.xlsx")
df3

Warning message:
"package 'xlsx' was built under R version 3.5.3"

  age gender income
1 24  M      2000
2 35  F      3100
3 28  F      3800
4 21  F      2800
5 31  M      3500

Warning message:
"package 'readxl' was built under R version 3.5.3"

  age gender income
1 24  M      2000
2 35  F      3100
3 28  F      3800
4 21  F      2800
5 31  M      3500

+ 일부분 불러오기

In [9]:
read_excel("D://알기초프로그래밍/ch3_data/data6.xlsx", range="A1:B5")

  age gender
1 24  M
2 35  F
3 28  F
4 21  F

### CSV파일로 전환하여 불러오기
+ 다른이름으로 저장 > 다른 형식 선택후 CSV 파일 형식 선택하여 저장
+ CSV형식으로 저장된 데이터 파일을 함수 read.csv()함수로 불러온다

In [10]:
read_csv("D://알기초프로그래밍/ch3_data/data6.csv", col_types="ici")

  age gender income
1 24  M      2000
2 35  F      3100
3 28  F      3800
4 21  F      3500
5 31  M      3500

## SAS파일 불러오기
### SAS
+ 범용 통계 소프트웨어. 수많은 사용자 보유
+ SAS 전용 데이터 파일을 R로 불러오는 것도 중요한 작업
+ 패키지 haven의 read_sas() 이용

## 웹에서 데이터 불러오기
### 웹에 있는 엄청난 양의 데이터
+ 직접 R로 불러올 수 있다면 상당히 편리할 것임

### 두가지 형태의 데이터
+ 웹 서버에 저장된 데이터 파일
+ 함수 read.table(), read.csv()로 불러올 수 있음


+ HTML 테이블
+ 패키지 rvest, 함수 read_html(), html_nodes(), html_table()

### 웹서버에 저장된 데이터 파일 불러오기

In [14]:
iris.url <- 
 "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

iris.data <- read_csv(iris.url, col_types="ddddc",
                      col_names=c("S.length","S.width","P.length",
                                  "P.width","Species"))
iris.data

    S.length S.width P.length P.width Species
1   5.1      3.5     1.4      0.2     Iris-setosa
2   4.9      3.0     1.4      0.2     Iris-setosa
3   4.7      3.2     1.3      0.2     Iris-setosa
4   4.6      3.1     1.5      0.2     Iris-setosa
5   5.0      3.6     1.4      0.2     Iris-setosa
6   5.4      3.9     1.7      0.4     Iris-setosa
7   4.6      3.4     1.4      0.3     Iris-setosa
8   5.0      3.4     1.5      0.2     Iris-setosa
9   4.4      2.9     1.4      0.2     Iris-setosa
10  4.9      3.1     1.5      0.1     Iris-setosa
11  5.4      3.7     1.5      0.2     Iris-setosa
12  4.8      3.4     1.6      0.2     Iris-setosa
13  4.8      3.0     1.4      0.1     Iris-setosa
14  4.3      3.0     1.1      0.1     Iris-setosa
15  5.8      4.0     1.2      0.2     Iris-setosa
16  5.7      4.4     1.5      0.4     Iris-setosa
17  5.4      3.9     1.3      0.4     Iris-setosa
18  5.1      3.5     1.4      0.3     Iris-setosa
19  5.7      3.8     1.7      0.3     Iris-setosa
20  5.1      3.8     1.5      0.3     Iris-setosa
21  5.4      3.4     1.7      0.2     Iris-setosa
22  5.1      3.7     1.5      0.4     Iris-setosa
23  4.6      3.6     1.0      0.2     Iris-setosa
24  5.1      3.3     1.7      0.5     Iris-setosa
25  4.8      3.4     1.9      0.2     Iris-setosa
26  5.0      3.0     1.6      0.2     Iris-setosa
27  5.0      3.4     1.6      0.4     Iris-setosa
28  5.2      3.5     1.5      0.2     Iris-setosa
29  5.2      3.4     1.4      0.2     Iris-setosa
30  4.7      3.2     1.6      0.2     Iris-setosa
... ...      ...     ...      ...     ...
121 6.9      3.2     5.7      2.3     Iris-virginica
122 5.6      2.8     4.9      2.0     Iris-virginica
123 7.7      2.8     6.7      2.0     Iris-virginica
124 6.3      2.7     4.9      1.8     Iris-virginica
125 6.7      3.3     5.7      2.1     Iris-virginica
126 7.2      3.2     6.0      1.8     Iris-virginica
127 6.2      2.8     4.8      1.8     Iris-virginica
128 6.1      3.0     4.9      1.8     Iris-virginica
129 6.4      2.8     5.6      2.1     Iris-virginica
130 7.2      3.0     5.8      1.6     Iris-virginica
131 7.4      2.8     6.1      1.9     Iris-virginica
132 7.9      3.8     6.4      2.0     Iris-virginica
133 6.4      2.8     5.6      2.2     Iris-virginica
134 6.3      2.8     5.1      1.5     Iris-virginica
135 6.1      2.6     5.6      1.4     Iris-virginica
136 7.7      3.0     6.1      2.3     Iris-virginica
137 6.3      3.4     5.6      2.4     Iris-virginica
138 6.4      3.1     5.5      1.8     Iris-virginica
139 6.0      3.0     4.8      1.8     Iris-virginica
140 6.9      3.1     5.4      2.1     Iris-virginica
141 6.7      3.1     5.6      2.4     Iris-virginica
142 6.9      3.1     5.1      2.3     Iris-virginica
143 5.8      2.7     5.1      1.9     Iris-virginica
144 6.8      3.2     5.9      2.3     Iris-virginica
145 6.7      3.3     5.7      2.5     Iris-virginica
146 6.7      3.0     5.2      2.3     Iris-virginica
147 6.3      2.5     5.0      1.9     Iris-virginica
148 6.5      3.0     5.2      2.0     Iris-virginica
149 6.2      3.4     5.4      2.3     Iris-virginica
150 5.9      3.0     5.1      1.8     Iris-virginica

+ HTML table 불러오기
+ 패키지 rvest의 함수 사용

In [2]:
library(rvest)
URL <- "https://en.wikipedia.org/wiki/World_population"
web <- read_html(URL)

Warning message:
"package 'rvest' was built under R version 3.5.3"
Loading required package: xml2

Warning message:
"package 'xml2' was built under R version 3.5.3"

+ 읽어온 웹 페이지에서 함수 html_nodes()로 table 노드 추출

In [3]:
tbl <- html_nodes(web,"table")
length(tbl)
head(tbl)

[1] 25

{xml_nodeset (6)}
[1] <table class="box-Verify_sources plainlinks metadata ambox ambox-content" ...
[2] <table class="infobox" style="float: right; font-size:90%"><tbody>\n<tr>< ...
[3] <table class="wikitable sortable">\n<caption>Population by continent (201 ...
[4] <table class="wikitable" style="text-align:center; float:right; clear:rig ...
[5] <table width="100%"><tbody><tr>\n<td valign="top"> <div class="legend" st ...
[6] <table class="wikitable sortable" style="text-align:right"><tbody>\n<tr>\ ...

### html_table()로 테이블 데이터 불러오기
+ 원하는 테이블이 몇 번째 노드인지 아는 경우

In [4]:
tbl_1 <- html_table(tbl[7])
tbl_1

[[1]]
   Rank     Country    Population Area (km2) Density (Pop. per km2)
1     1   Singapore     5,703,600        710                  8,033
2     2  Bangladesh   168,600,000    143,998                  1,171
3     3     Lebanon     6,855,713     10,452                    656
4     4      Taiwan    23,604,265     36,193                    652
5     5 South Korea    51,780,579     99,538                    520
6     6      Rwanda    12,374,397     26,338                    470
7     7       Haiti    11,577,779     27,065                    428
8     8 Netherlands    17,470,000     41,526                    421
9     9      Israel     9,200,000     22,072                    417
10   10       India 1,362,190,000  3,287,240                    414

+ 원하는 테이블이 몇 번째 노드인지 모를 경우
+ 해당 테이블 노드의 XPath를 알아야 함
+ 테이블 노드의 XPath를 알아내는 방법 : 교재 참조

In [5]:
top_pop <- tbl_1[[1]]
names(top_pop) <- c("rank","country","pop","area","density")
str(top_pop)

'data.frame':	10 obs. of  5 variables:
 $ rank   : int  1 2 3 4 5 6 7 8 9 10
 $ country: chr  "Singapore" "Bangladesh" "Lebanon" "Taiwan" ...
 $ pop    : chr  "5,703,600" "168,600,000" "6,855,713" "23,604,265" ...
 $ area   : chr  "710" "143,998" "10,452" "36,193" ...
 $ density: chr  "8,033" "1,171" "656" "652" ...

In [6]:
pop <- top_pop$pop
pop <- gsub(",","",pop)
mean(as.numeric(pop))

[1] 166935633

# dplyr에 의한 데이터 변환
### dplyr : tidyverse의 핵심 패키지

### 통계 데이터 세트:
+ 변수가 열, 관찰값이 행을 이루는 2차원 구조
+ 데이터 프레임으로 입력

### 입력된 대부분의 데이터 프레임 : 바로 분석할 수 있는 상태가 아님
+ 분석에 필요한 적절한 변수 생성
+ 특정 조건을 만족하는 관찰값만을 선택
+ 관찰값의 순서 변경

### 데이터 프레임 다듬기
+ 매우 필요하나 시간이 많이 소요되는 힘든 작업
+ 일관된 법칙에 따라 편리하게 적용되는 기법이 절실하게 필요한 상황

### 패키지 dplyr의 주요 함수
+ filter() : 특정 조건을 만족하는 관찰값 선택
+ arrange() : 특정 변수를 기준으로 관찰값 정렬
+ select() : 변수 선택
+ mutate() : 새로운 변수 생성
+ group_by() : 그룹 생성
+ summarise() : 자료 요약

### 조건에 따른 관찰값의 선택 : filter()
+ 기본적인 형태 : filter(df, condition)
+ df : 데이터 프레임 , condition : 관찰값 선택 조건

+ 변수 mpg가 30 이상인 자동차 선택
+ 변수 mpg가 30 이상이고 wt가 1.8미만인 자동차 선택
+ 변수 mpg가 30 이하이고, cyl이 6또는 8이고, am이 1인 자동차 선택

In [17]:
library(tidyverse)
mtcars_t <- as_tibble(mtcars)
filter(mtcars_t, mpg >= 30)
filter(mtcars_t, mpg >= 30 & wt < 1.8)
filter(mtcars_t, mpg <= 30 & cyl %in% c(6,8) & am == 1)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 32.4 4   78.7  66 4.08 2.200 19.47 1  1  4    1
2 30.4 4   75.7  52 4.93 1.615 18.52 1  1  4    2
3 33.9 4   71.1  65 4.22 1.835 19.90 1  1  4    1
4 30.4 4   95.1 113 3.77 1.513 16.90 1  1  5    2

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 30.4 4   75.7  52 4.93 1.615 18.52 1  1  4    2
2 30.4 4   95.1 113 3.77 1.513 16.90 1  1  5    2

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 15.8 8   351  264 4.22 3.170 14.50 0  1  5    4
4 19.7 6   145  175 3.62 2.770 15.50 0  1  5    6
5 15.0 8   301  335 3.54 3.570 14.60 0  1  5    8

+ 변수 mpg의 값이 mpg의 중앙값과 Q3 사이에 있는 자동차 선택

In [18]:
filter(mtcars_t, mpg >= median(mpg) & mpg <= quantile(mpg,probs=0.75))
filter(mtcars_t, between(mpg,median(mpg),quantile(mpg,probs=0.75)))

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
6  19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
7  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
8  19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
9  19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
10 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
6  19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
7  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
8  19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
9  19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
10 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

+ 예제 : airquality

In [19]:
airs <- as_tibble(airquality)
filter(airs, is.na(Ozone) | is.na(Solar.R))

   Ozone Solar.R Wind Temp Month Day
1  NA     NA     14.3 56   5      5
2  28     NA     14.9 66   5      6
3  NA    194      8.6 69   5     10
4   7     NA      6.9 74   5     11
5  NA     66     16.6 57   5     25
6  NA    266     14.9 58   5     26
7  NA     NA      8.0 57   5     27
8  NA    286      8.6 78   6      1
9  NA    287      9.7 74   6      2
10 NA    242     16.1 67   6      3
11 NA    186      9.2 84   6      4
12 NA    220      8.6 85   6      5
13 NA    264     14.3 79   6      6
14 NA    273      6.9 87   6      8
15 NA    259     10.9 93   6     11
16 NA    250      9.2 92   6     12
17 NA    332     13.8 80   6     14
18 NA    322     11.5 79   6     15
19 NA    150      6.3 77   6     21
20 NA     59      1.7 76   6     22
21 NA     91      4.6 76   6     23
22 NA    250      6.3 76   6     24
23 NA    135      8.0 75   6     25
24 NA    127      8.0 78   6     26
25 NA     47     10.3 73   6     27
26 NA     98     11.5 80   6     28
27 NA     31     14.9 77   6     29
28 NA    138      8.0 83   6     30
29 NA    101     10.9 84   7      4
30 NA    139      8.6 82   7     11
31 NA    291     14.9 91   7     14
32 NA    258      9.7 81   7     22
33 NA    295     11.5 82   7     23
34 78     NA      6.9 86   8      4
35 35     NA      7.4 85   8      5
36 66     NA      4.6 87   8      6
37 NA    222      8.6 92   8     10
38 NA    137     11.5 86   8     11
39 NA     64     11.5 79   8     15
40 NA    255     12.6 75   8     23
41 NA    153      5.7 88   8     27
42 NA    145     13.2 77   9     27